 
 body{
   margin:0px;
   padding:0px;
 }
   #main{
     margin-top:50px;
     background-color:#BB1919;
	 width:200%;
     height:70px;	 
   }
     #text1
	 {
	    padding:15px;
	    margin-left:120px;
	    font:40px bold, sans-serif;
		color:white;
	 }
	 a
	 {
	    text-decoration:none;
		color:white;
	 }
	 #nav
	 {
	    margin-top:0px;
	    margin-left:0px;
		background-color:#BB1919;
		height:30px;
		width:100%;
		
	 }
      ul
	  {
	    
	    list-style-type:none;
		padding:5px;
		overflow:hidden;
		margin-left:130px;
	  }
	  li
	  {
	    m
    	border-right:2px,white,solid;
	    color:white;
	    display:block;
		float:left;
		
	  }
