body
{
	margin:0;
	padding:0;
}
	#topbar
	{
		margin-top:0px;
		width:200%;
		height:40px;
		background-color:red;
	}
		  #logo
		  {   
		      position:relative;
			  width:90px;
			  height:30px;
			  left:350px;
			  top:5px;
		  }
    #sign
	{
		height:40px;
		position:relative;
		display:inline;
		top:5px;
		left:370px;
		 border-left: 1px grey solid;
	}
	
	